.header
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.header-inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ant-popover-arrow::before,
.ant-popover-arrow::after,
.ant-popover-content .ant-popover-inner
{
    @apply !bg-light-nav;
    @apply dark:!bg-dark-nav;
}

.ant-badge-count
{
    @apply dark:text-black;
    @apply dark:shadow-none;
}